*
{
margin:0px;
padding:0px;
}
nav
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif; 
    background-color: #57505c;  
}
 nav .logo
 {
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
  }
  nav ul{
      float: right;
      margin-right: 40px;
      list-style: none;
      position: relative;
    }
  nav ul li{
    display: inline-block;
    justify-content: space-around;
    background-color: #57505c;
    margin: 0 5px;
  }
  nav ul li a{
    color:rgb(255, 255, 255);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
 
  nav ul ul li a:hover{
    box-shadow: none;
  }
 
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,input{
    display: none;
  }
  html
  {
      scroll-behavior: smooth;
  }
  #home
  {
      height: 600px;
      display: flex;
      background-image: url(cnt.jpg);
      background-size: cover;
      background-position: center;
      
  }
  #about
  {
      height: 700px;
      display: flex;
      background-image: url(abt.jpg);
      background-size: cover;
      background-position: center; 
       
  }
  #contact
  {
      height: 700px;
      display: flex;
      background-image: url(phn.jpg);
      background-size: cover;
      background-position: center;
      
  }  
  #bbb
{
    color: rgb(122, 7, 26);
    font-weight: bolder;
     font-size: 30pt;
    padding-left: 200px;
    padding-top: 200px;
}
h3
{
   padding-left: 120px;
}
h2
{
    font-size: 30pt;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(240, 10, 10);
}
#abt
{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
    padding-right: 120px;
}
#cnt
{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
    padding-right: 120px;   
}